/* Wrapper */

.icon-button {
    background-color: white;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 1.6rem;
    line-height: 2.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
}


/* Circle */

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 80%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2.6rem;
    margin: -1.3rem;
}


/* Icons */

.icon-button i {
    background: none;
    color: white;
    height: 2.6rem;
    left: 0;
    line-height: 2.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 2.6rem;
    z-index: 10;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.linkedin span {
    background-color: #1293d2;
}

.github span {
    background-color: #000000;
}

.instagram span {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.youtube span {
    background-color: #bb0000;
}

.pinterest span {
    background-color: #cb2027;
}

.icon-button .fa-twitter {
    color: #4099ff;
}

.icon-button .fa-facebook-f {
    color: #3B5998;
}

.icon-button .fa-github {
    color: #000000;
}

.icon-button .fa-linkedin-in {
    color: #1293d2;
}

.icon-button .fa-instagram {
    color: #E1306C;
}

.icon-button .fa-youtube {
    color: #bb0000;
}

.icon-button .fa-pinterest {
    color: #cb2027;
}

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook-f,
.icon-button:hover .fa-linkedin-in,
.icon-button:hover .fa-github,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
    color: white;
}

@media all and (max-width: 680px) {
    .icon-button {
        border-radius: 1.6rem;
        font-size: 0.8rem;
        height: 1.6rem;
        line-height: 1.6rem;
        width: 1.6rem;
    }
    .icon-button:hover span {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 1.6rem;
        margin: -0.8rem;
    }
    /* Icons */
    .icon-button i {
        height: 1.6rem;
        line-height: 1.6rem;
        width: 1.6rem;
    }
    body {
        padding: 10px;
    }
    .pinterest {
        display: none;
    }
}

.insta {
    /* change this to change the size*/
}